[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "servosphereR"]
	path = servosphereR
	url = https://github.com/jake-wittman/servospherer
